In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_excel('ownership.xlsx')
df

,Owner,League,Team,Team City,Team State,Stadium Capacity,Superbowl Titles,Conference Titles,Total Wins,Total Losses,...,Revenue,Owner Net Worth,Source of Wealth,Self-Made Billionaire,Inherrited or Acquired,Owner Since,Owner Birth Country,Owner Alma Mater,Alma Mater Location,Alma Mater Ranking
0,Michael Bidwill,NFL,Arizona Cardinals,Glendale,Arizona,63400,0,1,581,790,...,500000000,1400000000,Sports,False,Inherrited,2019,USA,Saint Louis Univeristy,"St.Louis, MO",105
1,Arthur Blank,NFL,Atlanta Falcons,Atlanta,Georgia,71000,0,2,383,493,...,544000000,8400000000,Retail,True,Acquired,2002,USA,Babson College,"Babson Park, MA",-
2,Stephen Bisciotti,NFL,Baltimore Raves,Baltimore,Maryland,71008,2,2,243,190,...,544000000,7200000000,Staffing,True,Acquired,2004,USA,Salisbury University,"Salisbury, MD",-
3,Terrence Pegula,NFL,Buffalo Bills,Orchard Park,New York,71608,0,4,462,495,...,503000000,6800000000,Natural Gas,True,Acquired,2014,USA,Pennsylvania State University,"University Park, PA",60
4,David Tepper,NFL,Carolina Panthers,Charlotte,North Carolina,74867,0,2,212,237,...,530000000,20600000000,Finance,True,Acquired,2018,USA,The Pennsylvania State University,"Pittsburgh, PA",24
5,Virginia Halas McCaskey,NFL,Chicago Bears,Chicago,Illinois,61500,1,4,786,624,...,556000000,1300000000,Sports,False,Inherrited,1983,USA,Drexel University,"Philadelphia, PA",98
6,Michael Brown,NFL,Cincinatti Bengals,Cincinatti,Ohio,65515,0,3,385,463,...,498000000,925000000,Sports,False,Inherrited,1991,USA,Dartmouth College,"Hanover, New Hampshire",18
7,Jimmy Haslam,NFL,Cleveland Browns,Cleveland,Ohio,67431,0,1,548,528,...,545000000,8700000000,Gas,False,Acquired,2012,USA,University of Tennessee,"Knoxville, TN",105
8,Jerry Jones,NFL,Dallas Cowboys,Arlington,Texas,80000,5,10,550,408,...,1100000000,13800000000,Sports,True,Acquired,1989,USA,University of Arkansas,"Fayetteville, AR",178
9,Rob Walton,NFL,Denver Broncos,Denver,Colorado,76125,3,8,500,456,...,563000000,77400000000,Retail,False,Acquired,2022,USA,Colombia University,"New York, NY",12
10,Sheila Ford Hamp,NFL,Detroit Lions,Detroit,Michigan,65000,0,4,579,702,...,495000000,1000000000,Automotive,False,Inherrited,2020,USA,Yale University,"New Haven, CT",5
11,"Greenbay Packers, Inc.",NFL,Green Bay Packers,Green Bay,Wisconsin,81441,4,9,790,590,...,577000000,-,Sports,False,-,1921,-,-,-,-
12,Janice McNair,NFL,Houston Texans,Houston,Texas,72220,0,0,142,195,...,605000000,5600000000,Sports,False,Inherrited,2018,USA,Columbia College,"Columbia, SC",-
13,Jim Isray,NFL,Indianapolis Colts,Indianapolis,Indiana,67000,2,7,547,493,...,545000000,4400000000,Sports,False,Inherrited,1997,USA,Southern Methodist University,"Dallas, TX",89
14,Shahid Khan,NFL,Jacksonville Jaguars,Jacksonville,Florida,67814,0,0,189,261,...,517000000,12200000000,Automotive,True,Acquired,2011,Pakistan,University of Illinois,"Champaign, IL",35
15,Clark Hunt,NFL,Kansas City Chiefs,Kansas City,Missouri,76416,4,4,521,433,...,540000000,2000000000,Sports,False,Inherrited,2005,USA,Southern Methodist University,"Dallas, TX",89
16,Mark Davis,NFL,Las Vegas Raiders,Paradise,Nevada,65000,3,4,497,458,...,729000000,2300000000,Sports,False,Inherrited,2011,USA,California State University,"Los Angeles, CA",-
17,Dean Spanos,NFL,Los Angeles Chargers,Inglewood,California,70240,0,1,478,477,...,518000000,1000000000,Sports,False,Inherrited,2018,USA,University of The Pacific,"Stockton, CA",142
18,Stanley Kroenke,NFL,Los Angeles Rams,Inglewood,California,70241,2,8,604,592,...,686000000,16200000000,Real Estate,True,Acquired,2010,USA,University of Missouri,"Columbia, MO",124
19,Stephen Ross,NFL,Miami Dolphins,Miami Gardens,Florida,64767,2,5,485,393,...,600000000,10100000000,Real Estate,True,Acquired,2009,USA,University of Michigan - Ann Arbor,"Ann Arbor, MI",21
20,Zygi Wilf,NFL,Minnesota Vikings,Minneapolis,Minnesota,66860,0,4,516,425,...,540000000,1300000000,Real Estate,True,Acquired,2006,USA,New York University,"New York, NY",35
21,Robert Kraft,NFL,New England Patriots,Foxborough,Massachusetts,65878,6,11,537,420,...,684000000,11100000000,Manufacturing,True,Acquired,1994,USA,Harvard University,"Cambridge, MA",3
22,Gayle Benson,NFL,New Orleans Saints,New Orleans,Louisiana,73208,1,1,403,460,...,533000000,6100000000,Sports,True,Inherrited,2018,USA,-,-,-
23,John Mara,NFL,New York Giants,East Rutherford,New Jersey,82500,4,11,715,638,...,639000000,500000000,Sports,False,Inherrited,2005,USA,Boston College,"Chestnut Hill, MA",39
24,Woody Johnson,NFL,New York Jets,East Rutherford,New Jersey,82500,1,0,421,537,...,560000000,5700000000,Pharmaceutical,False,Acquired,2000,USA,University of Arizona,"Tucson, AZ",115
25,Jeffrey Lurie,NFL,Philidelphia Eagles,Philadelphia,Pennsylvania,69879,1,5,613,630,...,598000000,4600000000,Film,False,Acquired,1994,USA,Brandeis University,"Waltham, MA",60
26,Art Rooney,NFL,Pittsburgh Steelers,Pittsburgh,Pennsylvania,68400,6,8,661,571,...,548000000,1200000000,Sports,False,Inherrited,2017,USA,University of Pittsburgh,"Pittsburgh, PA",67
27,Denis York,NFL,San Francisco 49ers,Santa Clara,California,68500,5,8,612,510,...,622000000,5800000000,Sports,False,Inherrited,1999,USA,Saint Mary's College,"Notre Dame, IN",-
28,Jody Allen,NFL,Seattle Seahawks,Seattle,Washington,68740,1,3,383,353,...,555000000,20000000000,Sports,False,Inherrited,2018,USA,Whitman College,"Walle Walle, WA",-
29,Joel Glazer,NFL,Tampa Bay Buccaneers,Tampa,Florida,65618,2,2,299,442,...,531000000,4000000000,Sports,False,Inherrited,1995,USA,American University,"Washington, DC",105
30,Amy Adams Strunk,NFL,Tennessee Titans,Nashville,Tennessee,69143,0,1,470,490,...,516000000,1600000000,Sports,False,Inherrited,2015,USA,University of Texas Austin,"Austin, TX",32
31,Joshua Harris,NFL,Washington Commanders,Landover,Maryland,67717,3,5,625,630,...,545000000,8400000000,Finance,True,Inherrited,2023,USA,Harvard University,"Cambridge, MA",NaN